# Frontend
client/node_modules/
client/.next/
client/out/

# Backend
backend/node_modules/
backend/dist/
backend/build/
backend/env

# Env files
.env
.env.local
/backend/venv
client/.env
client/.env.local
backend/venv


# Python
__pycache__/
*.pyc

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db